   ## list assignment
   
### Q.1 Write a Python program to sum all the items in a list

In [10]:
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in range(0,len(l)):
    sum=sum+l[i]
print("sum of all tha items",sum)

sum of all tha items 55

In [6]:
l=[20,40,50,60]
total=0
for i in range(0,len(l)):
        total=total+l[i]
print("sum of all items in given list =>",total)

sum of all items in given list => 170

### Q.2  Write a Python program to get the smallest number from a list.

In [24]:
s=input("enter tha string")
unique_list=[]
for i in s:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

enter tha stringelement education
['e', 'l', 'm', 'n', 't', ' ', 'd', 'u', 'c', 'a', 'i', 'o']

In [1]:
l=[20,30,50,80,10,6,9,7]
s=min(l)
print("smallest number in tha list is =",s)

smallest number in tha list is = 6

### Q.3 Write a program to find unique elements of string specified by user and display unique elements in list

In [6]:
s=input("enter a string")
unique_list=[]
for i in s:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

enter a stringelement
['e', 'l', 'm', 'n', 't']

### Q.4 Write a Python programr and  to print a specified list after remmenoving the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [2]:
l=["red","green","white","black","pink","yellow"]  
l[1:4]

['green', 'white', 'black']

### Q.5 Write a program to display all the elements of odd position.

In [27]:
l=[5,5,7,9,2,4,5,1,11,13,19]
for i in l:
    if i%2!=0:
        print(i)

5
5
7
9
5
1
11
13
19

### Q.6 Write a Python program to convert a string to a list.

In [31]:
s="python core"
l=s.split()
print(l)

['python', 'core']

In [61]:
s=input("enter tha string")
l=s.split()
print(l)

enter tha stringwelcome to class everyone
['welcome', 'to', 'class', 'everyone']

### Q.7 Write a Python program to insert an element at a specified position into a given list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
After inserting an element at kth position in the said list:
[1, 1, 12, 2, 3, 4, 4, 5, 1]

In [30]:
list=[1,1,2,3,4,4,5,1]
list[2]=12
print(list)

[1, 1, 12, 3, 4, 4, 5, 1]

### Q.8 How to reverse the List using slice.

In [26]:
list=["apple","banana","fig","lichi"]
print(list)
list[::-1]

['apple', 'banana', 'fig', 'lichi']

['lichi', 'fig', 'banana', 'apple']

### Q.10 Program to convert a list into string

In [7]:
list=["monday","tuesday","wednesday","thrusday","firday","saturday","sunday"]
s=" ".join(list)
print(list)
print(s)
type(s)

['monday', 'tuesday', 'wednesday', 'thrusday', 'firday', 'saturday', 'sunday']
monday tuesday wednesday thrusday firday saturday sunday

str

### Q.11 How to get the square of each list element between two range.

In [10]:
l=[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in l:
    if l==i*i:
         print(l)

### Q.12 How to Filter even values from a list using list comprehension

In [36]:
list=[1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20]
[i for i in list if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Q.13 How to remove elements in a list before a specific index

In [39]:
l1=[20,30,40,50,60,70]
l2=int(input("enter tha index to remove elements before it"))
x=l1[l2:]
print(x)

enter tha index to remove elements before it30
[]